#flvmenu > ul > li > span{
    color: #000;
    padding: 20px 37px;
    text-transform: uppercase;
    text-decoration: none;
    /* font-size: 0.95em; */
    font-size: 1.20em;
    font-weight: 600;
    display: inline-block;
}
#flvmenu > ul > li > span:hover{
    color: #fff;
}

#flvmenu > ul > li span{
    display: inline-block;
    padding: 20px 30px;
    /*padding: 15px 30px;*/
    font-weight: 400;
}
#flvmenu > ul > li ul li span {
    padding: 15px 25px 15px 0;
    padding-left: 20px;
    color: #000;
    font-size: 1em;
}
#flvmenu > ul > li ul li span {
    text-decoration: none;
    display: block;
    cursor: pointer;
}

@media (max-width: 1199px) {
    #flvmenu > ul li span {
        padding: 20px 30px;
    }
}
@media (max-width: 768px) {
    #flvmenu > ul li span {
        font-size: 0.95em;
        color: #fff !important;
        display: block;
        font-weight: 400;
        text-transform: uppercase;
    }
    #flvmenu > ul > li > ul > li > span{
        padding-left: 40px;
        font-size: 0.95em;
    }
    #flvmenu > ul > li > ul > li > ul > li span{
        padding-left: 55px;
    }
}